body {
    padding-top: 56px;
    background: whitesmoke;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
    color: #333; /* Darker text color for better readability */
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5); /* More transparent white background */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8) !important; /* Slightly transparent navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for navbar */
}

/* Add some padding to the bottom of the page */
.container, .container-fluid {
    padding-bottom: 50px;
}

/* Style adjustments for better readability */
h1, h2, h3, h4, h5, h6 {
    color: #333;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for cards */
}


/* Additional styles for better contrast and readability */
.bg-danger-subtle {
    background-color: rgba(255, 200, 200, 0.7) !important; /* Lighter red background */
}

.text-danger-emphasis {
    color: #721c24 !important; /* Darker red text for emphasis */
}

footer{
    background-color: white;
    box-shadow: 1px 2px 10px 1px rgba(0,0,0,0.2);

}
