{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <div id="create-event" class="p-5 mb-5">
            <h2 class="text-center p-5 mb-5">Create Event</h2>
            <form>
                <div class="mb-3">
                    <label for="eventName" class="form-label">Event Name</label>
                    <input type="text" class="form-control" id="eventName" required>
                </div>
                <div class="mb-3">
                    <label for="eventDateTime" class="form-label">Event Date and Time</label>
                    <input type="datetime-local" class="form-control" id="eventDateTime" required>
                </div>
                <div class="mb-3">
                    <label for="eventVenue" class="form-label">Venue</label>
                    <input type="text" class="form-control" id="eventVenue" required>
                </div>
                <div class="mb-3">
                    <label for="eventPrice" class="form-label">Ticket Price</label>
                    <input type="number" class="form-control" id="eventPrice" required>
                </div>
                <div class="mb-3">
                    <label for="eventGenre" class="form-label">Genre</label>
                    <select class="form-select" id="eventGenre" required>
                        <option value="">Select a category</option>
                        <option value="rock">Rock/Alternative</option>
                        <option value="pop">Pop/Folk</option>
                        <option value="electronic">Electronic/Dance</option>
                        <option value="hiphop">Hip-Hop/R&B</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="eventImage" class="form-label">Event Image</label>
                    <input type="file" class="form-control" id="eventImage" accept="image/*" required>
                </div>
                <button type="submit" class="btn btn-primary">Create Event</button>
            </form>
        </div>

    </div>
{% endblock %}

