{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <div id="create-event" class="p-5 mb-5">
        <h2 class="text-center p-5 mb-5">Create Event</h2>
        <form method="POST" , action="{{ url_for('event.create_event') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label for="eventName" class="form-label">Event Name</label>
                {{ form.event_name(class="form-control", placeholder="Enter event name") }}
            </div>
            <div class="mb-3">
                <label for="event_datetime" class="form-label">Event Date and Time</label>
                {{ form.event_datetime(class="form-control", placeholder="Enter date and time") }}
            </div>
            <div class="mb-3">
                <label for="event_venue" class="form-label">Venue</label>
                {{ form.event_venue(class="form-control", placeholder="Enter venue") }}
            </div>
            <div class="mb-3">
                <label for="event_ticket_price" class="form-label">Ticket Price</label>
                {{ form.event_ticket_price(class="form-control", placeholder="Enter ticket price") }}
            </div>
            <div class="mb-3">
                <label for="event_genre" class="form-label">Genre</label>
                {{ form.event_genre(class="form-control", placeholder="Select genre") }}
            </div>
            <div class="mb-3">
                <label for="event_image" class="form-label">Event Image - </label>
                <small class="form-text text-muted">Files accepted: .jpg, .jpeg, .png</small>
                {{ form.event_image(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Create Event</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="alert alert-danger mt-3">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

</div>
{% endblock %}