{% extends "base.html" %}

{% block content %}
<!--MAIN CONTENT-->
<main>
    <div class="content-wrapper mb-5">
        <!-- Carousel -->
        <div id="home" class="carousel slide mt-3" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#eventCarousel" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/Better-together-slogan-pexels.png') }}"
                        class="d-block w-100" alt="dance">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/concert-pexels.jpg') }}" class="d-block w-100"
                        alt="pop">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/hiphop.jpg') }}" class="d-block w-100" alt="hiphop">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/rock.jpg') }}" class="d-block w-100" alt="rock">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- MAIN HEADING -->
        <div class="container text-center mt-4 mb-2">
            <h1 id="browse-events">Experience the power of MusicLIVE!</h1>
            <p class="lead">Your ultimate destination for discovering, creating, and sharing live music experiences.
                Born from a passion for music and a vision to bring people together, we’ve built a platform where fans,
                artists,
                and organisers can connect and celebrate the magic of live performances.</p>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="button" class="btn btn-primary" onclick="document.location='#about-us'">Learn More About
                    Us</button>
            </div>
        </div>

        <!-- Category Filter -->
        <div class="container mt-4">
            <div class="dropdown mt-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Browse by Genre
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/">All Events</a></li>
                    <li><a class="dropdown-item"
                            href="{{ url_for('main.index', category='ROCK_ALT') }}">Rock/Alternative</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.index', category='POP_FOLK') }}">Pop/Folk</a>
                    </li>
                    <li><a class="dropdown-item"
                            href="{{ url_for('main.index', category='HIPHOP_RNB') }}">Hip-hop/R&B</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('main.index', category='EDM') }}">Electronic/Dance</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container mt-5">
            <h2>Upcoming Events</h2>

            <!-- Dynamically generated rows of event cards -->
            <div class="row">
                {% for event in events %}
                {% if loop.index0 % 3 == 0 and not loop.first %}
            </div>
            <div class="row mt-4">
                {% endif %}

                <div class="col-md-4">
                    <div class="card card-event">
                        <img src="{{ url_for('static', filename='event_images/' + event.image) }}"
                            class="card-img-top fixed-height" alt="{{ event.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ event.name }}</h5>
                            <p class="card-text">Location: {{ event.venue }}<br>Genre: {{ event.genre }}<br>Status: {{
                                event.status }}</p>
                            {% if event.status == Event.Status.OPEN %}
                            <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-primary">View
                                Details</a>
                            {% elif event.status == Event.Status.SOLDOUT %}
                            <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-warning">Sold
                                Out</a>
                            {% elif event.status == Event.Status.CANCELLED %}
                            <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-danger">Cancelled</a>
                            {% elif event.status == Event.Status.INACTIVE %}
                            <a href="{{ url_for('event.show', id=event.id) }}" class="btn btn-secondary">Inactive</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--ABOUT US-->
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <h2 id="about-us" class="text-center">About us at MusicLIVE</h2>
                    <p class="lead text-center">Our Journey began in 2023 with a vision: to make it easier for music
                        lovers to find events that inspire them. Since then,
                        we've grown into a vibrant community where music lovers come together to explore, experience,
                        and celebrate live music.
                        What started as a small idea has blossomed into a thriving platform, supported by a team
                        dedicated to delivering an exceptional experience for users everywhere.
                    </p>
                    <p class="lead text-center">We believe that live music should be accessible to everyone, everywhere.
                        Our mission is to empower music enthusiasts,
                        artists, and event organizers by providing an easy, streamlined way to discover and promote
                        events that move people.
                    </p>
                    <p class="lead text-center">Join Us on This Musical Journey!
                        Whether you’re an avid concert-goer, an independent artist, or an organizer, MusicLIVE is here
                        for you. Browse events, connect with fellow music lovers, and be part of a community that
                        celebrates live music in all its forms.
                    </p>
                    <p class="lead text-center bold">- MusicLIVE, Better Together :)</p>

                </div>
                <div class="col-12">
                    <h2 id="contact-us" class="text-center">Contact Us</h2>
                    <p class="lead text-center">Email: events@musiclive.com.au</p>
                </div>

            </div>
        </div>

</main>

{% endblock %}