{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container text-center mt-5">
        <h1>My Bookings</h1>
        <p class="lead">View and manage all your event bookings.</p>
    </div>

    <div class="container mt-5">
        <div class="row">
            {% for order in user_orders %}
                {% if loop.index0 % 3 == 0 and not loop.first %}
                    </div>
                    <div class="row mt-4">
                {% endif %}
                
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top fixed-height-orders" src="{{ url_for('static', filename='event_images/' + order.events.image) }}"
                             class="card-img-top" alt="{{ order.events.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ order.events.name }}</h5>
                            <p><strong>Booking ID:</strong> {{ order.id }}</p>
                            <p><strong>Quantity:</strong> {{ order.quantity }}</p>
                            <p><strong>Type:</strong> {{ order.type.value }}</p>
                            <a href="{{ url_for('event.show', id=order.events.id) }}" class="btn btn-primary mt-2">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
