{% extends "base.html" %}

{% block content %}
<!--MAIN CONTENT-->
<main>
    <!--REGISTRATION FORM-->
    <div class="container mt-5 form-container">
        <div class="row">
            <h2>Create an Account</h2>
            <form method="POST" action="{{ url_for('auth.register') }}">
                {{ form.hidden_tag() }}
                <div class="mb-3 mt-3">
                    <div class="row g-3">
                        <div class="col-lg-3">
                            <label for="first_name" class="form-label">First Name</label>
                            {{ form.first_name(class="form-control", placeholder="Enter your first name") }}
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            {{ form.last_name(class="form-control", placeholder="Enter your surname") }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        {{ form.email(class="form-control", placeholder="Enter your email") }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                        <label for="phone_number" class="form-label ">Phone Number</label>
                        {{ form.phone_number(class="form-control", placeholder="Enter your phone number") }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                        <label for="password" class="form-label ">Password</label>
                        {{ form.password(class="form-control", placeholder="Enter your password") }}
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                        <label for="confirm" class="form-label ">Confirm Password</label>
                        {{ form.confirm(class="form-control", placeholder="Repeat your password") }}
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 mt-3">Register</button>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="alert alert-danger mt-3">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</main>

{% endblock %}